<div class="p-20">
    <!-- Image Section (50% width, full height) -->
    <div class=" flex max-w-7xl mx-auto rounded-md shadow-lg h-[700px]">
        <div class="w-1/2 h-full ">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" 
                 alt="Hospital Image" 
                 class="h-full w-full rounded-l-md object-cover">
        </div>
        
        <!-- Form Section (50% width, full height) -->
        <div class="w-1/2 p-5 h-full flex flex-col mt-10">
            <app-new-hospital></app-new-hospital>
        </div>
    </div>    
</div>
